.product_form_container {
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  gap: 2rem;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.product_header {
  text-align: center;
  margin-bottom: 40px;
}

.product_header h3 {
  margin: 0;
  font-size: 1.5em;
}

.product_header h5 {
  margin: 0;
  font-size: 1em;
  color: #777;
}

.product_body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.product_body > * {
  margin-bottom: 15px;
}

.product_footer {
  text-align: center;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.inputs_group {
  display: flex;
  gap: 1rem;
}
.form_column {
  min-width: 50%;
}

.items-selected_items_container {
  display: flex;
  gap: 0.5rem;
  border: 2px solid var(--hand-gray);
  border-radius: 10px;
  min-height: 100px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
}

.item-selected {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 5px;
  padding: 0 10px;
  background-color: var(--ligth-green);
  border-radius: 20px;
  color: var(--white);
}
.item-selected span {
  color: var(--strong-red);
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.item-selected span:hover {
  cursor: pointer;
}
.select-elements_container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.select-elements_container .staticselect_Input {
  margin: 0;
}
.product_images {
  margin-bottom: 50px;
}
