.image-uploader {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 2px dashed var(--hand-gray);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.image-uploader.drag-over {
  border-color: var(--strong-green);
}

.file-input {
  display: none;
}

.image-container {
  position: relative;
  width: 100px;
}

.image-container img {
  width: 100%;
  border-radius: 8px;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: var(--strong-green);
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.remove-button:hover {
  color: var(--ligth-green);
}
.preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.image-preview {
  position: relative;
  width: 100px;
}

.image-preview img {
  width: 100%;
  border-radius: 8px;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: #ff0000; /* Puedes ajustar el color según tus preferencias */
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.remove-button:hover {
  color: #ff6666; /* Puedes ajustar el color al pasar el mouse según tus preferencias */
}
